.kit-icon-picker{
	position: relative;
	box-sizing: border-box;

	*{
		box-sizing: border-box;
	}
}

.kit-icon-holder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border: 1px solid #ddd;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;

	&:focus{
		border-color:#a6acb9;
	}
}