.kit-icons-dropdown{
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	width: 272px;
	box-shadow: 0 3px 30px rgba(25,30,35,.1);
	padding: 10px;
	border: 1px solid #e2e4e7;
	border-radius: 3px;
}
.kit-icon-dropdown-icons-wrap{
	overflow: hidden;
}
.kit-icon-picker-header{
    padding-bottom: 10px;
    
    .kit-icon-picker-search{
        width: 100%;
        height: 32px;
        padding: 4px 10px;
        border-radius: 3px;
        border: 1px solid #dce1e4;
        outline: none !important;

        &:focus{
            border-color: #0089ff;
        }
    }
}
.kit-icon-dropdown-icons{
	max-height: 247px;
	// height: calc(100% - 63px);
	overflow: auto;
	// margin-right: -17px;

	&-inner{
		ul{
			display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0;
			margin: 0;
			
			li{
                flex: 0 0 20%;
                padding: 3px;
                height: 50px;
				margin: 0;
				list-style: none;

                .kit-icon-inner{
                    display: block;
                    width: 100%;
                    background-color: #fff;
                    padding: 0;
                    margin: 0;
                    border: 1px solid #dce1e4;
                    border-radius: 3px;
                    height: 100%;
                    cursor: pointer;

                    .kit-icon-picker-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
                }

                &.kit-icon-selected{
                    .kit-icon-inner{
                        border-color: #0089ff;
                        background-color: #0089ff;
                        color: #fff;
                    }
                }
            }
		}
	}
}